.apresentation-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap:15px;
}

.main-container{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    gap:30px;
    justify-content: center;
}

.apresentation-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap:5px;
}

.apresentation-text > .apresentation-tittle{
    color: rgb(0,102,255);
    font-weight: 600;
}

.apresentation-text > .apresentation-phrase{
    color: rgb(33, 122, 255);
}

.apresentation-desc{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    text-align: justify;
    gap:2px;
    width: 500px;
}

.apresentation-desc > .apresentation-desc-complementation {
    color:rgb(94, 94, 94);
}

.download-curriculum{
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap:15px;
}

.about-edit{
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
}

.contact-container{
    display: flex;
    align-items: start;
    flex-flow: column nowrap;
    gap:5px;
}

.container-information{
    display: flex;
    flex-flow: column;
    align-items: baseline;
    justify-content: start;
}

.contact-tittle{
    color:rgb(0,102,255);
}

.about-edit{
    display: flex;
    margin-left:25px;
    height: 100vh;
}

@media screen and (max-width: 930px) {
    .apresentation-container{
        width: 400px;
        text-align: start;
    }

    .apresentation-desc{
        width: 350px;
    }

    .apresentation-desc-complementation{
        font-size:14px;
    }
}

@media screen and (max-width:840px) {
    .main-container{
        flex-flow: column-reverse;
    }

    .apresentation-desc{
        width: 90%;
    }

    .apresentation-container{
        width: 100%;
    }

    .apresentation-desc-complementation{
        font-size:12px;
    }
}

@media screen and (max-width:570px) {
    .apresentation-phrase{
        font-size:14px;
    }
}

@media screen and (max-width:370px) {
    .apresentation-phrase{
        font-size:12px;
    }

    .download-curriculum{
        font-size:12px;
        gap:5px;
    }

    .apresentation-desc-complementation{
        font-size:12px;
    }
}

@media screen and (max-width:330px) {
    .apresentation-phrase{
        font-size:11px;
    }

    .contact-tittle {
        font-size:14px;
    }

    .contact-phrase{
        font-size:16px;
    }

    .container-information{
        font-size:12px;
    }
}
