.banner-container{
    display: flex;
    border-radius: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
    align-items: center;
    padding: 15px;
    gap:30px;
    justify-content: center;
    max-width: 75%;
}

.banner-container:hover{
    transform: scale(1.025);
    cursor: pointer;
}

.banner-info{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding:10px;
}

.banner-texts{
    text-align: start;
    display: flex;
    flex-flow: column;
    gap:5px;
}

.project-desc{
    text-align: justify;
    color:rgb(73, 73, 73)
}

.repo-style{
    color:black;
    text-decoration: none;
    font-weight: 600;
}

.has-api{
    color:rgb(0, 119, 255);
}