.main-skills-container{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;   
}

.skills-desc-content, .courses-desc-content{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.courses-desc-content{
    padding-top:3rem;
    margin-bottom: 20px;
}

.phrase-stacks-content{
    text-align: center;
    color:rgb(87, 87, 87)
}

.courses-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:20px;
}

.stacks-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: stretch;
    justify-content: center;
    gap:20px;
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 780px) {
    .stacks-container{
        grid-template-columns: auto auto auto;
        align-items: center;
        gap:10px;
    }
}


@media screen and (max-width: 560px) {
    .stacks-container{
        grid-template-columns: auto auto auto;
    }

    .phrase-stacks-content > h1 {
        font-size:22px;
    }

    .phrase-stacks-content > p {
        font-size: 12px;
        font-weight: 600;
    }
}

@media screen and (max-width: 460px) {
    .stacks-container{
        grid-template-columns: auto auto;
    }
}
