.main-skills-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;   
}

.skills-desc-content{
    width: 100%;
    min-height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap:15px;
}

.phrase-skills-content{
    text-align: center;
    color:rgb(87, 87, 87)
}

.courses-container{
    display: flex;
    flex-flow: column nowrap;
    gap:15px;
}

.skills-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-items: stretch;
    justify-content: center;
    gap:20px;
}

@media screen and (max-width: 920px) {
    .skills-container{
        width: 600px;
        height: 500px;
    }
}

@media screen and (max-width: 780px) {
    .skills-container{
        grid-template-columns: auto auto auto auto;
        gap:10px;
        width:500px;
        height: 400px;
    }
}
